*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-div {
    width:380px;
    height: 530px;
    padding: 30px 35px 45px 35px;
    border-radius: 0 70px ;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
  }
  .logo {
    /* background:url("/images/java-logo.png")no-repeat center fixed; */
    background:rgba(0, 0, 0, 0) url("/images/java-logo.png") no-repeat center center;
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
    box-shadow: 
    /* logo shadow */
    0px 0px 2px #5f5f5f,
    /* offset */
    0px 0px 0px 5px #ecf0f3,
    /*bottom right */
    8px 8px 15px #a7aaaf,
    /* top left */
    -8px -8px 15px #ffffff
    ;
    object-fit: contain;
    background-size: contain;
    overflow: hidden;
 
   
  }

  .title {
    text-align: center;
    font-size: 28px;
    padding-top: 14px;
    letter-spacing: 0.5px;
  }
  .sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }

  .fas{
      color:grey;
      margin-left: 15px;
      margin-right: 10px;
  }
  .fields {
    width: 100%;
    padding: 35px 5px 5px 5px;
  }
  .fields input {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;
  }
  .username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
  }
  .fields svg {
    height: 22px;
    margin:0 10px -3px 25px;
  }
  .signin-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 60px;
    border-radius:0 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;

    background-image: linear-gradient(90deg , #0c8ea8 50%, #2fdbb6  100%);
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition:all 2s ease-in-out;
  }
 
  .signin-button:hover {
    background-image: linear-gradient(90deg , #2fdbb6  0%, #0c8ea8 100%);

    transition:all 2s ease-in-out;
  }
  .signin-button:active {
    background:#1da88a;
    transition:all 2s ease-in-out;
  }
  .link {
    padding-top: 20px;
    text-align: center;
  }
  .link a {
    text-decoration: none;
    color:#aaa;
    font-size: 15px;
  }
  .sign-here{
    color: rgb(15, 119, 93) !important;
    text-decoration: none;
    cursor: pointer;
}