<!DOCTYPE html>
<html lang="en" xlmn="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/post.css">

</head>
<body>



<div class="container">
    <div class="wrapper">
        <section class="post">
            <header>Edit Post</header>


            <form action="#" th:action="@{/update/{id}(id=${post.getId()})}" th:object="${post}" method="post">
                <div class="content">

                    <div class="details">

                        <input type="hidden" name="user_id" value="" >
                        <!-- <textarea name="text" class="title-text" placeholder="What's on your mind, JavaDevs?"  spellcheck="false" type="text"  value=""  required></textarea> -->

                        <input class="title-text" type="text"  spellcheck="false" th:field="*{title}" required>

                    </div>
                </div>
                <textarea class="body-text"  spellcheck="false" type="text"  value="" th:field="*{message}" required></textarea>




                <div class="options">
                    <p>Edit Your Post</p>
                    <input type="file" name="image" class="add-image" value="add image" accept="image">

                </div>
                <a style="text-decoration: none;  " href="" class="nav-link"></a>

                <button class="form-button">
                    <a style="text-decoration: none; color:white;  " class="nav-link">Update</a>
                </button>

            </form>
        </section>

    </div>
</div>

</body>
</html>